{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><span style="cursor:default;color:#ffffff;font-size:1em;font-weight:900;letter-spacing:0.04em;">{{ site.title }}</span></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{% if link.mobile_title %}<span class="nav-label-desktop">{{ link.title }}</span><span class="nav-label-mobile">{{ link.mobile_title }}</span>{% else %}{{ link.title }}{% endif %}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>